<div class="chat-area">
  <div
  
    *ngFor="let msg of messages"
    class="chat-message"
    [class.user-message]="msg.sender === 'user'"
    [class.bot-message]="msg.sender === 'bot'"
  >
    <div class="user-icon" *ngIf="msg.sender === 'user'">
      <img src="path-to-smile-icon.png" alt="User" />
    </div>
    <div class="bot-icon" *ngIf="msg.sender === 'bot'">
      <img src="path-to-robot-icon.png" alt="Bot" />
    </div>
    <div class="message-text">{{ msg.text }}</div>
  </div>

</div>

<div class="chat-input">
  <input
    type="text"
    [(ngModel)]="userMessage"
    placeholder="Type your message..."
    (keyup.enter)="sendMessage()"
  />
  <button (click)="sendMessage()">Send</button>
</div>

